:root{
    --darkBlue: #1F4288;
    --lightBlue: #CEE0F8;
    --intenseBlue: #0A64DA;
    --intermediateBlue: #4E90D8;
    --brightBlue: #46B7E8
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: locatorLight;
    src: url('../assets/fonts/Locator-Light.otf');
}

@font-face{
    font-family: poppinsBold;
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: gothamLight;
    src: url('../assets/fonts/Gotham-Light.otf');
}

@font-face{
    font-family: gothamBook;
    src: url('../assets/fonts/Gotham-Book.otf');
}

@font-face{
    font-family: gothamBold;
    src: url('../assets/fonts/Gotham-Bold.otf');
}

@font-face{
    font-family: gothamBlack;
    src: url('../assets/fonts/Gotham-Black.otf');
}

html{
    font-family: locatorLight;
    font-size: 62.5%;
}

.header_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115px;
    width: 100%;
    background: url('../assets/1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.logo{
    width: 20%;
    min-width: 200px;
    max-width: 350px;
    height: auto;
}

.register_container, .trivia_container{
    width: 100%;
    height: auto;
    background: url('../assets/3.jpg');
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.register_container h2, .trivia_container h2{
    font-family: gothamBook;
    color: var(--darkBlue);
    font-weight: 300;
    font-size: 3rem;
}

.error__message{
    color: red;
    position: relative;
    top: 1px;
}

.inactive_page{
    width: 100%;
    height: 100vh;
    display: none;
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inactive_page h1{
    font-family: gothamBlack;
    color: var(--intenseBlue);
    font-size: 2rem;
}

/* .main_page{
    display: none;
} */


.form_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    max-width: 350px;
}

label{
    width: 100%;
}

.input{
    font-family: gothamLight;
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--brightBlue);
    padding-bottom: 10px;
}

.input::placeholder{
    padding-left: 10px;
    color: var(--intermediateBlue);
}

.input:focus{
    outline: none;
}

label.button{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.blue_button{
    width: 130px;
    height: 35px;
    margin-top: 30px;
    border-radius: 50px;
    border: none;
    background-color: #F3F4F4;
    font-family: gothamBlack;
    color: #BEC0C2;
}

.trivia_form__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 90%;
}

.question_container{
    width: 80%;
    max-width: 700px;
    margin-top: 70px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question_container h4{
    color: var(--brightBlue);
    font-family: gothamLight;
    font-size: 1.3rem;
}

.buttons_container{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
    max-width: 400px;
}

input[type="radio"]{
    appearance: none;
}

input[type="radio"]:checked + label{
    border: none;
    background-color: var(--intermediateBlue);
    color: white;
}

.large_button{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 35px;
    border-radius: 50px;
    border: none;
    font-family: gothamBold;
    color: var(--intermediateBlue);
    font-size: 1rem;
    margin-top: 10px;
    background-color: #f3f4f4;
    text-align: left;
    padding-left: 20px;
}

.large_button:hover{
    border: 1.5px solid var(--darkBlue);
    cursor: pointer;
}

.large_button:focus{
    border: none;
    background-color: var(--intermediateBlue);
    color: white;
}

/* .large_button:not(:active){
    background-color: #f3f4f4;
    color: grey;
} */
